.category {
	&__title.title {
		margin-bottom: 20px;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		background-color: transparent;
		color: white;
		transition: all 0.3s ease;
		padding-left: 20px;
	}
	&__reset {
		margin: 30px 0;
		font-weight: bold;
	}
}