// Тело самого товара на отдельной странице
.item-body {
    position: relative;
    &__flex {
        display: flex;
        gap: 40px;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__column-left {
        flex: 1 1 20%;
        img {
            width: 300px;
            @media (max-width: 768px) {
                width: 200px;
                height: 200px;
            }
            @media (max-width: 576px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__column-right {
        flex: 1 1 80%;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        @media (max-width: 576px) {
            padding: 0 10px 20px;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 10px;
        padding-right: 40px;
        @media (max-width: 576px) {
            font-size: 20px;
        }
        span {
            font-style: italic;
            font-weight: 400;
        }
    }

    &__amount {
        display: flex;
        gap: 20px;
        padding: 20px;
        margin-bottom: 20px;
        border: 2px solid $color-red;
        align-self: flex-start;
        border-radius: 10px;
        @media (max-width: 768px) {
            margin-bottom: 0;
            padding: 10px;
        }
    }

    &__amount-minus {
        cursor: pointer;
    }

    &__amount-number {
    }

    &__amount-plus {
        cursor: pointer;
    }

    &__id {
        padding: 10px 0;
    }

    &__sum {
        padding: 10px 0;
        font-weight: bold;
        font-size: 26px;
        line-height: 1;
        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__buy {
        align-self: flex-start;
        color: white;
        margin-top: auto;
        padding: 20px 40px;
        background-color: $color-red;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 700;
        @media (max-width: 768px) {
            padding: 10px 20px;
        }
        @media (max-width: 576px) {
            margin: 0 auto;
        }
        &:hover {
            background-color: $color-dark-red;
            @media (max-width: 768px) {
                background-color: $color-red;
            }
        }
    }

    &.title {
    }
    & .product__favorites {
        top: 20px;
        @media (max-width: 576px) {
            top: calc(100vw - 15px);
        }
    }
}
