.profile {
    &__flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: -10px;
    }
    &__flex-right {
        flex: 0 0 300px;
        margin: 10px;
    }
    &__flex-left {
        flex: 0 0 400px;
        margin: 10px;
        img {
            max-width: 100%;
        }
        @media (max-width: 600px) {
            flex: 1 1 auto;
        }
    }
    &__form {
    }
    &__item {
        margin-bottom: 20px;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__item-name,
    &__item-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-left: 20px;
        @media (max-width: 768px) {
            font-size: 16px;
            text-align: left;
        }
    }
    &__item-label {
        font-weight: 400;
        color: $color-gray-gold;
    }
    &__item-name {
        display: inline-block;
        margin-top: 10px;
    }
    &__item-input {
    }
    &__item-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        width: 200px;
        height: 50px;
        padding: 10px 20px;
        margin-left: 20px;
        border-radius: 10px;
        color: white;
        background-color: $color-red;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgb(73, 9, 9);
        }
    }
}
