.search {
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px 10px;
        input {
            height: 50px;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }

    &__input {
        flex: 1 1 80%;
    }

    &__submit {
        flex: 1 1 20%;
        color: white;
        background-color: $color-red;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 700;
        &:hover {
            background-color: $color-dark-red;
        }
    }
}
